@font-face {
  font-family: 'Chamberi Headline';
  src: url('/fonts/ChamberiHeadline-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zalando';
  src: url('/fonts/ZalandoSansSemiExpanded-Medium.ttf') format('opentype');
  font-weight: 400;
  font-style: light;
  font-display: swap;
}
